name: Biome Checks

on:
  pull_request:
    branches: [ main ]

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm clean-install

      - name: Run Biome checks
        run: npm run check
